.demo{
    // width: 500px;
    margin: 100px auto;
    padding:10px;
    border:1px solid #ccc;
    &::after{
        content: '';
        display: block;
        clear: both;
    }
    div{
        float: left;
        width: 50px;
        height: 50px;
        background: #ff5252;
        margin-right:5px;
        &:last-of-type{
            margin:0
        }
    }
    .demo2{
        border-radius: 50%;
    }
    .demo3{
        width: 100px;
        border-radius:50px 50px 0 0; /* 左上、右上、右下、左下 */
    }
    .demo4{
        width: 0;
        height:0;
        background: transparent;
        border-top: 0px solid transparent;
        border-bottom: 50px solid #ff5252;
        border-right: 50px solid transparent;
        border-left: 50px solid transparent;
    }
    .demo5{
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        margin-right: 20px;
    }
    .demo6{
        -webkit-transform: skew(20deg);
                transform: skew(20deg)
    }
    .demo7{
        width: 50px;
        height: 0;
        background: transparent;
        // border-top: 50px solid #f0f;
        border-bottom: 50px solid #ff5252;
        border-right: 18px solid transparent;
        border-left: 18px solid transparent;
    }

}
    // 五角星
    .fivestate{
        margin: 100px auto;
        padding:10px;
        height: 200px;
        border:1px solid #ccc;
        position: relative;
        .item1{
            width:0;
            height: 0;
            border-left:100px solid transparent;
            border-right:100px solid transparent;
            border-bottom:70px solid #ff5252;
            -webkit-transform: rotate(35deg);
                    transform: rotate(35deg);
            position: absolute;
            left: 0;
            top: 70px;
        }
        .item2{
            width:0;
            height: 0;
            border-left:40px solid transparent;
            border-right:40px solid transparent;
            border-bottom:100px solid #ff5252;
            position: absolute;
            left: 60px;
            top: 13px;
        }
        .item3{
            width:0;
            height: 0;
            border-left:100px solid transparent;
            border-right:100px solid transparent;
            border-bottom:70px solid #ff5252;
            -webkit-transform: rotate(-35deg);
                    transform: rotate(-35deg);
            position: absolute;
            left: 0;
            top: 70px;
        }
    }
.hert{
    margin: 100px auto;
    padding:100px;
    border:1px solid #ccc;
    position: relative;
    .item{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        &::before{
            content: '';
            display: block;
            width: 50px;
            height: 80px;
            background: #ff5252;
            border-radius: 25px 25px 0 0;
            position: relative;
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            -webkit-transform-origin: 100% 100%;
                    transform-origin: 100% 100%;

        }
        &::after{
            content: '';
            display: block;
            width: 50px;
            height: 80px;
            background: #ff5252;
            border-radius: 0 0 50px 40px;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
            -webkit-transform-origin: 100% 0;
                    transform-origin: 100% 0;
        }
    }
    .item1{
        width: 50px;
        height: 100px;
        background: #ff5252;
        border-radius: 50% 50% 50% 50%/50% 50% 50% 50%
    }
}

// 太极图
.map{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    // background: rgb(162, 118, 233);
    position: relative;
    .wrap{
        -webkit-animation: autoplay 10s linear infinite;
                animation: autoplay 10s linear infinite;
        -webkit-box-shadow: 0 0 30px #000;
                box-shadow: 0 0 30px #000;
        border-radius: 50%;
    }
    .big{
        border-left: 100px solid #000000;
        border-right: 100px solid #ffffff;
        border-top: 100px solid #000000;
        border-bottom:100px solid #ffffff;
        border-radius: 50%;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg)
    }
    .sm1{
        width: 50px;
        height: 50px;
        border-radius:50px;
        background: #000000;
        position: absolute;
        bottom: 0;
        right: 50px;
        border: 25px solid #fff;
    }
    .sm2{
        width: 50px;
        height: 50px;
        border-radius:50px;
        background: #ffffff;
        position: absolute;
     
        top: 0;
        left: 50px;
        border: 25px solid #000;
    }
}

@-webkit-keyframes autoplay{
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes autoplay{
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}