body {
  background: #1a1919;
}

.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.drop {
  width: 10px;
  height: 120px;
  position: absolute;
  left: 3%;
  animation: drop 1s linear infinite;
  bottom: 105%;
}

.drop .stem {
  width: 1px;
  height: 60%;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
}

.drop .splat {
  width: 15px;
  height: 20px;
  border-radius: 50%;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  opacity: 1;
  animation: splat 0.5s linear infinite;
}

.drop:nth-child(1) {
  left: 3%;
  bottom: 105%;
}

.drop:nth-child(2) {
  left: 6%;
  bottom: 105%;
}

.drop:nth-child(3) {
  left: 9%;
  bottom: 105%;
}

.drop:nth-child(4) {
  left: 12%;
  bottom: 105%;
}

.drop:nth-child(5) {
  left: 15%;
  bottom: 105%;
}

.drop:nth-child(6) {
  left: 18%;
  bottom: 105%;
}

.drop:nth-child(7) {
  left: 21%;
  bottom: 105%;
}

.drop:nth-child(8) {
  left: 24%;
  bottom: 105%;
}

.drop:nth-child(9) {
  left: 27%;
  bottom: 105%;
}

.drop:nth-child(10) {
  left: 30%;
  bottom: 105%;
}

.drop:nth-child(11) {
  left: 33%;
  bottom: 105%;
}

.drop:nth-child(12) {
  left: 36%;
  bottom: 105%;
}

.drop:nth-child(13) {
  left: 39%;
  bottom: 105%;
}

.drop:nth-child(14) {
  left: 42%;
  bottom: 105%;
}

.drop:nth-child(15) {
  left: 45%;
  bottom: 105%;
}

.drop:nth-child(16) {
  left: 48%;
  bottom: 105%;
}

.drop:nth-child(17) {
  left: 51%;
  bottom: 105%;
}

.drop:nth-child(18) {
  left: 54%;
  bottom: 105%;
}

.drop:nth-child(19) {
  left: 57%;
  bottom: 105%;
}

.drop:nth-child(20) {
  left: 60%;
  bottom: 105%;
}

.drop:nth-child(21) {
  left: 63%;
  bottom: 105%;
}

.drop:nth-child(22) {
  left: 66%;
  bottom: 105%;
}

.drop:nth-child(23) {
  left: 69%;
  bottom: 105%;
}

.drop:nth-child(24) {
  left: 72%;
  bottom: 105%;
}

.drop:nth-child(25) {
  left: 75%;
  bottom: 105%;
}

.drop:nth-child(26) {
  left: 78%;
  bottom: 105%;
}

.drop:nth-child(27) {
  left: 81%;
  bottom: 105%;
}

.drop:nth-child(28) {
  left: 84%;
  bottom: 105%;
}

.drop:nth-child(29) {
  left: 87%;
  bottom: 105%;
}

.drop:nth-child(30) {
  left: 90%;
  bottom: 105%;
}

.drop:nth-child(31) {
  left: 93%;
  bottom: 105%;
}

.drop:nth-child(1) {
  animation-delay: 0.25s;
  animation-duration: 0.525s;
}

.drop:nth-child(2) {
  animation-delay: 0.73s;
  animation-duration: 0.573s;
}

.drop:nth-child(3) {
  animation-delay: 0.34s;
  animation-duration: 0.534s;
}

.drop:nth-child(4) {
  animation-delay: 0.4s;
  animation-duration: 0.534s;
}

.drop:nth-child(5) {
  animation-delay: 0.35s;
  animation-duration: 0.535s;
}

.drop:nth-child(6) {
  animation-delay: 0.72s;
  animation-duration: 0.572s;
}

.drop:nth-child(7) {
  animation-delay: 0.91s;
  animation-duration: 0.591s;
}

.drop:nth-child(8) {
  animation-delay: 0.3s;
  animation-duration: 0.53s;
}

.drop:nth-child(9) {
  animation-delay: 0.79s;
  animation-duration: 0.579s;
}

.drop:nth-child(10) {
  animation-delay: 0.58s;
  animation-duration: 0.558s;
}

.drop:nth-child(11) {
  animation-delay: 0.95s;
  animation-duration: 0.595s;
}

.drop:nth-child(12) {
  animation-delay: 0.48s;
  animation-duration: 0.548s;
}

.drop:nth-child(13) {
  animation-delay: 0.88s;
  animation-duration: 0.588s;
}

.drop:nth-child(14) {
  animation-delay: 0.71s;
  animation-duration: 0.571s;
}

.drop:nth-child(15) {
  animation-delay: 0.54s;
  animation-duration: 0.554s;
}

.drop:nth-child(16) {
  animation-delay: 0.79s;
  animation-duration: 0.578s;
}

.drop:nth-child(17) {
  animation-delay: 0.55s;
  animation-duration: 0.555s;
}

.drop:nth-child(18) {
  animation-delay: 0.591s;
  animation-duration: 0.525s;
}

.drop:nth-child(19) {
  animation-delay: 0.91s;
  animation-duration: 0.591s;
}

.drop:nth-child(20) {
  animation-delay: 0.67s;
  animation-duration: 0.567;
}

.drop:nth-child(21) {
  animation-delay: 0.5s;
  animation-duration: 0.525s;
}

.drop:nth-child(22) {
  animation-delay: 0.2s;
  animation-duration: 0.585s;
}

.drop:nth-child(23) {
  animation-delay: 0.15s;
  animation-duration: 0.5s;
}

.drop:nth-child(24) {
  animation-delay: 0.85s;
  animation-duration: 0.575s;
}

.drop:nth-child(25) {
  animation-delay: 0.75s;
  animation-duration: 0.565s;
}

.drop:nth-child(26) {
  animation-delay: 0.25s;
  animation-duration: 0.555s;
}

.drop:nth-child(27) {
  animation-delay: 0.95s;
  animation-duration: 0.559s;
}

.drop:nth-child(28) {
  animation-delay: 0.15s;
  animation-duration: 0.569s;
}

.drop:nth-child(29) {
  animation-delay: 0.35s;
  animation-duration: 0.596s;
}

.drop:nth-child(30) {
  animation-delay: 0.65s;
  animation-duration: 0.455s;
}

.drop:nth-child(31) {
  animation-delay: 0.6s;
  animation-duration: 0.469s;
}

.drop:nth-child(32) {
  animation-delay: 0.7s;
  animation-duration: 0.505s;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
